n8n-workflow-template.json
{
  "name": "AI Video Agent — Full Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ai-video-agent-trigger",
      "notes": "POST to this URL with JSON body: { \"script\": \"Your voiceover text...\", \"title\": \"Video Title\" }"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule Trigger (Weekly)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 520],
      "disabled": true,
      "notes": "Optional: Enable to auto-generate videos every Monday at 9 AM. Connect to 'Set Script' node."
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"script\": \"{{ $json.body.script || 'Welcome to this week\\'s AI trends video...' }}\",\n  \"title\": \"{{ $json.body.title || 'AI Generated Video' }}\",\n  \"description\": \"{{ $json.body.description || 'Generated by AI Video Agent' }}\",\n  \"tags\": {{ JSON.stringify($json.body.tags || ['AI', 'automation', 'technology']) }},\n  \"skip_upload\": {{ $json.body.skip_upload ?? true }},\n  \"privacy\": \"{{ $json.body.privacy || 'private' }}\"\n}",
        "options": {}
      },
      "id": "set-params",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300],
      "notes": "Normalizes input parameters from webhook or schedule trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AI_VIDEO_AGENT_URL || 'http://localhost:8000' }}/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"script\": \"{{ $json.script }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"tags\": {{ JSON.stringify($json.tags) }},\n  \"skip_upload\": {{ $json.skip_upload }},\n  \"privacy\": \"{{ $json.privacy }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "start-pipeline",
      "name": "Start Video Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "notes": "POST to /generate — returns job_id immediately (async)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.AI_VIDEO_AGENT_URL || 'http://localhost:8000' }}/status/{{ $('Start Video Pipeline').item.json.job_id }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "poll-status",
      "name": "Poll Job Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "notes": "GET /status/{job_id} — checks if pipeline is still running"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-completed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-done",
      "name": "Is Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300],
      "notes": "Routes: TRUE = completed → success path, FALSE = still running → wait + re-poll"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-30s",
      "name": "Wait 30 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1200, 520],
      "notes": "Wait before polling again (video generation takes 10-30 min)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-failed",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-failed",
      "name": "Is Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 300],
      "notes": "Check if the job failed before proceeding to success notifications"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.AI_VIDEO_AGENT_URL || 'http://localhost:8000' }}/download/{{ $('Start Video Pipeline').item.json.job_id }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "download-video",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 200],
      "notes": "Downloads the generated MP4 file"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID || '' }}",
        "text": "=✅ **AI Video Generated Successfully!**\n\n🎬 Title: {{ $('Prepare Request').item.json.title }}\n📊 Job ID: {{ $('Start Video Pipeline').item.json.job_id }}\n⏱️ Time: {{ $('Poll Job Status').item.json.result.total_time_seconds || 'N/A' }}s\n\nVideo is ready for download!",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "notify-success-telegram",
      "name": "Notify Success (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1920, 200],
      "disabled": true,
      "notes": "Optional: Enable and set TELEGRAM_CHAT_ID + Telegram Bot credentials"
    },
    {
      "parameters": {
        "subject": "=✅ AI Video Ready: {{ $('Prepare Request').item.json.title }}",
        "text": "",
        "html": "=<h2>✅ Video Generated Successfully</h2>\n<table>\n<tr><td><b>Title:</b></td><td>{{ $('Prepare Request').item.json.title }}</td></tr>\n<tr><td><b>Job ID:</b></td><td>{{ $('Start Video Pipeline').item.json.job_id }}</td></tr>\n<tr><td><b>Status:</b></td><td>Completed</td></tr>\n</table>\n<br>\n<p>Your video is ready for download from the AI Video Agent dashboard.</p>",
        "toEmail": "={{ $env.NOTIFICATION_EMAIL || 'your-email@example.com' }}"
      },
      "id": "notify-success-email",
      "name": "Notify Success (Email)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1920, 380],
      "disabled": true,
      "notes": "Optional: Enable and configure SMTP credentials in n8n"
    },
    {
      "parameters": {
        "channel": "={{ $env.SLACK_CHANNEL || '#video-alerts' }}",
        "text": "",
        "blocksUi": "=:rotating_light: *AI Video Pipeline Failed*\n\n• Title: {{ $('Prepare Request').item.json.title }}\n• Job ID: {{ $('Start Video Pipeline').item.json.job_id }}\n• Error: {{ $('Poll Job Status').item.json.error || 'Unknown error' }}\n\nCheck logs for details.",
        "otherOptions": {}
      },
      "id": "notify-failure-slack",
      "name": "Notify Failure (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1680, 440],
      "disabled": true,
      "notes": "Optional: Enable and configure Slack credentials"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"accepted\",\n  \"job_id\": \"{{ $('Start Video Pipeline').item.json.job_id }}\",\n  \"message\": \"Video pipeline started. You will be notified on completion.\",\n  \"poll_url\": \"{{ $env.AI_VIDEO_AGENT_URL || 'http://localhost:8000' }}/status/{{ $('Start Video Pipeline').item.json.job_id }}\"\n}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 520],
      "notes": "Returns job_id immediately so the caller doesn't timeout"
    },
    {
      "parameters": {
        "content": "## AI Video Agent — n8n Workflow\n\n### How this workflow works:\n1. **Trigger**: Webhook receives a POST with script text + title\n2. **Start Pipeline**: Calls your FastAPI `/generate` endpoint\n3. **Poll Loop**: Checks `/status/{job_id}` every 30 seconds\n4. **On Complete**: Downloads the video + sends notifications\n5. **On Failure**: Sends failure alerts\n\n### Setup:\n1. Set environment variable `AI_VIDEO_AGENT_URL` in n8n settings\n2. Enable your preferred notification nodes (Telegram/Email/Slack)\n3. Configure credentials for enabled notification channels"
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [160, 60]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Prepare Request", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          { "node": "Start Video Pipeline", "type": "main", "index": 0 }
        ]
      ]
    },
    "Start Video Pipeline": {
      "main": [
        [
          { "node": "Poll Job Status", "type": "main", "index": 0 },
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    },
    "Poll Job Status": {
      "main": [
        [
          { "node": "Is Completed?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          { "node": "Is Failed?", "type": "main", "index": 0 }
        ],
        [
          { "node": "Wait 30 Seconds", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 30 Seconds": {
      "main": [
        [
          { "node": "Poll Job Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Failed?": {
      "main": [
        [
          { "node": "Notify Failure (Slack)", "type": "main", "index": 0 }
        ],
        [
          { "node": "Download Video", "type": "main", "index": 0 }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          { "node": "Notify Success (Telegram)", "type": "main", "index": 0 },
          { "node": "Notify Success (Email)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "ai-video", "id": "1" },
    { "name": "automation", "id": "2" }
  ],
  "pinData": {},
  "versionId": "1"
}
