n8n-cloud-native-workflow.json
{
  "name": "AI Video Agent — Cloud-Native (No Local Code)",
  "nodes": [
    {
      "parameters": {
        "content": "## AI Video Agent — Fully Cloud-Native\n\n**No local code, no Docker, no Python.**\nEverything runs through n8n + cloud APIs.\n\n### Pipeline:\n1. Webhook receives script text\n2. OpenAI GPT-4o splits script into scenes + image prompts\n3. ElevenLabs generates voiceover audio\n4. OpenAI DALL-E 3 generates scene images\n5. Shotstack stitches images + audio into video (Ken Burns, transitions)\n6. YouTube Data API uploads the final video\n7. Notifications via Telegram/Slack/Email\n\n### Required API Keys (set as n8n Credentials):\n- OpenAI API Key\n- ElevenLabs API Key\n- Shotstack API Key (free: shotstack.io)\n- Google OAuth2 (YouTube upload)\n\n### Free Tiers:\n- Shotstack: Free tier = watermarked renders (remove watermark on paid)\n- ElevenLabs: 10K chars/month free\n- OpenAI: Pay-as-you-go (~$0.04/image, ~$0.01/1K tokens)\n- YouTube API: Free (quota-based)"
      },
      "id": "sticky-overview",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [80, -80]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-video-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-trigger",
      "name": "1. Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ai-video-cloud-trigger",
      "notes": "POST JSON: { \"script\": \"Full voiceover text...\", \"title\": \"Video Title\", \"voice_id\": \"pNInz6obpgDQGcFmaJgB\" }"
    },

    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"script\": {{ JSON.stringify($json.body.script || '') }},\n  \"title\": {{ JSON.stringify($json.body.title || 'AI Generated Video') }},\n  \"description\": {{ JSON.stringify($json.body.description || 'Generated by AI Video Agent via n8n') }},\n  \"tags\": {{ JSON.stringify($json.body.tags || ['AI', 'automation', 'technology']) }},\n  \"voice_id\": {{ JSON.stringify($json.body.voice_id || 'pNInz6obpgDQGcFmaJgB') }},\n  \"privacy\": {{ JSON.stringify($json.body.privacy || 'private') }},\n  \"num_scenes\": {{ $json.body.num_scenes || 10 }}\n}",
        "options": {}
      },
      "id": "node-set-input",
      "name": "2. Set Input Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"accepted\",\n  \"message\": \"Video pipeline started. This takes 10-20 minutes.\",\n  \"title\": {{ JSON.stringify($json.title) }}\n}",
        "options": { "responseCode": 202 }
      },
      "id": "node-webhook-response",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [480, 520]
    },

    {
      "parameters": {
        "content": "### STEP 1: Script → Scenes\nGPT-4o analyzes the script and produces:\n- Scene descriptions for image prompts\n- Timing markers for each segment\n- YouTube-ready description & tags"
      },
      "id": "sticky-step1",
      "name": "Step 1 Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [660, 80]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a video production assistant. Given a voiceover script, split it into {{ $('2. Set Input Parameters').item.json.num_scenes }} scenes. For each scene, generate a cinematic DALL-E 3 image prompt. Return JSON: { \\\"scenes\\\": [{ \\\"scene_number\\\": 1, \\\"voiceover_segment\\\": \\\"text for this scene\\\", \\\"image_prompt\\\": \\\"cinematic wide shot of...\\\", \\\"duration_seconds\\\": 8 }] }. Make image prompts vivid, photorealistic, 16:9 aspect ratio, no text in images. Total duration should roughly match the script length.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('2. Set Input Parameters').item.json.script) }}\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 4000\n}",
        "options": { "timeout": 60000 }
      },
      "id": "node-gpt-scenes",
      "name": "3. GPT-4o: Script → Scenes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "openai-header", "name": "OpenAI API Key" }
      },
      "notes": "Credential: Header Auth → Name: 'Authorization', Value: 'Bearer sk-your-key'"
    },

    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.choices[0].message.content) }}",
        "options": {}
      },
      "id": "node-parse-scenes",
      "name": "4. Parse Scene JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 300],
      "notes": "Extracts the scenes array from GPT response"
    },

    {
      "parameters": {
        "content": "### STEP 2: Generate Voiceover\nElevenLabs text-to-speech API\nFull script → single MP3 audio file"
      },
      "id": "sticky-step2",
      "name": "Step 2 Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1140, 80]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $('2. Set Input Parameters').item.json.voice_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "audio/mpeg" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($('2. Set Input Parameters').item.json.script) }},\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.5,\n    \"similarity_boost\": 0.8,\n    \"style\": 0.25\n  }\n}",
        "options": {
          "response": {
            "response": { "responseFormat": "file" }
          },
          "timeout": 120000
        }
      },
      "id": "node-elevenlabs-tts",
      "name": "5. ElevenLabs: Generate Voiceover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "elevenlabs-header", "name": "ElevenLabs API Key" }
      },
      "notes": "Credential: Header Auth → Name: 'xi-api-key', Value: 'your-elevenlabs-key'\nReturns binary MP3 audio file."
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/uploads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": { "timeout": 60000 }
      },
      "id": "node-upload-audio",
      "name": "6. Upload Audio to Hosting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300],
      "disabled": true,
      "notes": "OPTION A: Upload to a file hosting service to get a public URL for Shotstack.\nAlternatively, use n8n's built-in 'Write Binary File' + a public-accessible server.\nSee the setup guide for options (S3, Cloudflare R2, file.io, etc.)"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.file.io",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "data" }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "id": "node-upload-audio-fileio",
      "name": "6. Upload Audio (file.io)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300],
      "notes": "Uploads voiceover MP3 to file.io (free, temporary hosting) to get a public URL for Shotstack. Response: { \"link\": \"https://file.io/abc123\" }"
    },

    {
      "parameters": {
        "content": "### STEP 3: Generate Images\nDALL-E 3 generates one image per scene.\nLoop through scenes array, generate each image, collect URLs."
      },
      "id": "sticky-step3",
      "name": "Step 3 Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1620, 80]
    },

    {
      "parameters": {
        "fieldToSplitOut": "scenes",
        "options": {}
      },
      "id": "node-split-scenes",
      "name": "7. Split Into Scenes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1680, 300],
      "notes": "Feeds each scene into the DALL-E loop individually"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"dall-e-3\",\n  \"prompt\": {{ JSON.stringify($json.image_prompt) }},\n  \"n\": 1,\n  \"size\": \"1792x1024\",\n  \"quality\": \"hd\",\n  \"response_format\": \"url\"\n}",
        "options": { "timeout": 90000 }
      },
      "id": "node-dalle-generate",
      "name": "8. DALL-E 3: Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "openai-header", "name": "OpenAI API Key" }
      },
      "notes": "Generates one HD image per scene. DALL-E URLs expire in ~1 hour — Shotstack must render before expiry."
    },

    {
      "parameters": {
        "amount": 12,
        "unit": "seconds"
      },
      "id": "node-rate-limit-wait",
      "name": "Rate Limit Pause",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2160, 300],
      "notes": "DALL-E 3 rate limit: ~5 images/min. 12s pause between calls."
    },

    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"scene_number\": {{ $('8. DALL-E 3: Generate Image').item.json.scene_number || $itemIndex + 1 }},\n  \"image_url\": \"{{ $('8. DALL-E 3: Generate Image').item.json.data[0].url }}\",\n  \"duration_seconds\": {{ $('7. Split Into Scenes').item.json.duration_seconds || 8 }},\n  \"voiceover_segment\": {{ JSON.stringify($('7. Split Into Scenes').item.json.voiceover_segment || '') }}\n}",
        "options": {}
      },
      "id": "node-collect-image",
      "name": "9. Collect Image Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2400, 300],
      "notes": "Maps each generated image URL + duration into a unified format for Shotstack"
    },

    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": { "outputFieldName": "scene_assets" }
      },
      "id": "node-aggregate-scenes",
      "name": "10. Aggregate All Scenes",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2640, 300],
      "notes": "Combines all scene image URLs + durations into a single array for the Shotstack render request"
    },

    {
      "parameters": {
        "content": "### STEP 4: Stitch Video (Shotstack)\nShotstack.io cloud API assembles:\n- Scene images with Ken Burns zoom effect\n- Crossfade transitions between scenes\n- Voiceover audio track\n- Title overlay on first scene\n→ Outputs a rendered MP4 URL\n\nFree tier: watermarked. Paid: $0.05/render."
      },
      "id": "sticky-step4",
      "name": "Step 4 Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2820, 80]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://api.shotstack.io/edit/stage/render",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeline\": {\n    \"soundtrack\": {\n      \"src\": \"{{ $('6. Upload Audio (file.io)').item.json.link }}\",\n      \"effect\": \"fadeOut\"\n    },\n    \"tracks\": [\n      {\n        \"clips\": [\n          {{  \n            $('10. Aggregate All Scenes').item.json.scene_assets.map((scene, i) => JSON.stringify({\n              \"asset\": {\n                \"type\": \"image\",\n                \"src\": scene.image_url\n              },\n              \"start\": $('10. Aggregate All Scenes').item.json.scene_assets.slice(0, i).reduce((sum, s) => sum + (s.duration_seconds || 8), 0),\n              \"length\": scene.duration_seconds || 8,\n              \"effect\": \"zoomIn\",\n              \"transition\": {\n                \"in\": \"fade\",\n                \"out\": \"fade\"\n              },\n              \"fit\": \"cover\"\n            })).join(',\\n          ')\n          }}\n        ]\n      },\n      {\n        \"clips\": [\n          {\n            \"asset\": {\n              \"type\": \"title\",\n              \"text\": {{ JSON.stringify($('2. Set Input Parameters').item.json.title) }},\n              \"style\": \"minimal\",\n              \"size\": \"medium\"\n            },\n            \"start\": 0,\n            \"length\": 5,\n            \"transition\": {\n              \"in\": \"fade\",\n              \"out\": \"fade\"\n            }\n          }\n        ]\n      }\n    ]\n  },\n  \"output\": {\n    \"format\": \"mp4\",\n    \"resolution\": \"hd\",\n    \"aspectRatio\": \"16:9\",\n    \"fps\": 30\n  }\n}",
        "options": { "timeout": 60000 }
      },
      "id": "node-shotstack-render",
      "name": "11. Shotstack: Render Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "shotstack-header", "name": "Shotstack API Key" }
      },
      "notes": "Credential: Header Auth → Name: 'x-api-key', Value: 'your-shotstack-key'\nFree sandbox key at shotstack.io/register\nReturns { \"response\": { \"id\": \"render-id\" } }"
    },

    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.shotstack.io/edit/stage/render/{{ $('11. Shotstack: Render Video').item.json.response.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 15000 }
      },
      "id": "node-shotstack-poll",
      "name": "12. Poll Shotstack Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3120, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "shotstack-header", "name": "Shotstack API Key" }
      },
      "notes": "Polls render status. States: queued → fetching → rendering → saving → done"
    },

    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "render-done",
              "leftValue": "={{ $json.response.status }}",
              "rightValue": "done",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-render-check",
      "name": "13. Render Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3360, 300]
    },

    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "node-render-wait",
      "name": "Wait 30s (Render)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3360, 520],
      "notes": "Shotstack rendering takes 1-5 minutes typically"
    },

    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "render-failed",
              "leftValue": "={{ $json.response.status }}",
              "rightValue": "failed",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-render-failed-check",
      "name": "14. Render Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3600, 300]
    },

    {
      "parameters": {
        "content": "### STEP 5: Upload to YouTube\nn8n has a built-in Google YouTube node.\nRequires Google OAuth2 credentials with YouTube Data API v3 scope."
      },
      "id": "sticky-step5",
      "name": "Step 5 Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3780, 80]
    },

    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"video_url\": \"{{ $('12. Poll Shotstack Status').item.json.response.url }}\",\n  \"title\": {{ JSON.stringify($('2. Set Input Parameters').item.json.title) }},\n  \"description\": {{ JSON.stringify($('2. Set Input Parameters').item.json.description) }},\n  \"tags\": {{ JSON.stringify($('2. Set Input Parameters').item.json.tags) }},\n  \"privacy\": {{ JSON.stringify($('2. Set Input Parameters').item.json.privacy) }}\n}",
        "options": {}
      },
      "id": "node-prepare-upload",
      "name": "15. Prepare Upload Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3840, 300],
      "notes": "Collects the rendered video URL + metadata for YouTube upload"
    },

    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.video_url }}",
        "options": {
          "response": {
            "response": { "responseFormat": "file" }
          },
          "timeout": 300000
        }
      },
      "id": "node-download-video",
      "name": "16. Download Rendered Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4080, 300],
      "notes": "Downloads the MP4 from Shotstack CDN as binary for YouTube upload"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Upload-Content-Type", "value": "video/mp4" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"title\": {{ JSON.stringify($('15. Prepare Upload Data').item.json.title) }},\n    \"description\": {{ JSON.stringify($('15. Prepare Upload Data').item.json.description) }},\n    \"tags\": {{ JSON.stringify($('15. Prepare Upload Data').item.json.tags) }},\n    \"categoryId\": \"28\"\n  },\n  \"status\": {\n    \"privacyStatus\": {{ JSON.stringify($('15. Prepare Upload Data').item.json.privacy) }},\n    \"selfDeclaredMadeForKids\": false\n  }\n}",
        "options": { "timeout": 300000 }
      },
      "id": "node-youtube-upload",
      "name": "17. YouTube: Upload Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4320, 300],
      "disabled": true,
      "credentials": {
        "oAuth2Api": { "id": "google-youtube-oauth", "name": "Google YouTube OAuth2" }
      },
      "notes": "Enable this node after configuring Google OAuth2 credentials.\nRequires YouTube Data API v3 scope: https://www.googleapis.com/auth/youtube.upload\nDisabled by default — enable when ready."
    },

    {
      "parameters": {
        "content": "### STEP 6: Notifications\nEnable whichever channels you use.\nAll are disabled by default."
      },
      "id": "sticky-step6",
      "name": "Step 6 Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [4500, 80]
    },

    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID || '' }}",
        "text": "=✅ *AI Video Ready!*\n\n🎬 *{{ $('2. Set Input Parameters').item.json.title }}*\n🔗 Video URL: {{ $('12. Poll Shotstack Status').item.json.response.url }}\n\n_Generated entirely in the cloud via n8n_",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "node-notify-telegram",
      "name": "18. Notify (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [4560, 200],
      "disabled": true,
      "notes": "Enable + configure Telegram Bot credentials"
    },

    {
      "parameters": {
        "channel": "={{ $env.SLACK_CHANNEL || '#video-alerts' }}",
        "text": "",
        "blocksUi": "=:white_check_mark: *AI Video Generated*\n\n• Title: {{ $('2. Set Input Parameters').item.json.title }}\n• Video: {{ $('12. Poll Shotstack Status').item.json.response.url }}\n\n_Fully automated — zero code, zero editing_",
        "otherOptions": {}
      },
      "id": "node-notify-slack",
      "name": "18. Notify (Slack)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [4560, 380],
      "disabled": true,
      "notes": "Enable + configure Slack OAuth credentials"
    },

    {
      "parameters": {
        "subject": "=✅ AI Video Ready: {{ $('2. Set Input Parameters').item.json.title }}",
        "html": "=<h2>✅ Your AI Video is Ready</h2>\n<p><b>Title:</b> {{ $('2. Set Input Parameters').item.json.title }}</p>\n<p><b>Download:</b> <a href=\"{{ $('12. Poll Shotstack Status').item.json.response.url }}\">Click here</a></p>\n<br>\n<p><i>Generated fully in the cloud via n8n — no code, no editing.</i></p>",
        "toEmail": "={{ $env.NOTIFICATION_EMAIL || '' }}"
      },
      "id": "node-notify-email",
      "name": "18. Notify (Email)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [4560, 560],
      "disabled": true,
      "notes": "Enable + configure SMTP credentials"
    },

    {
      "parameters": {
        "channel": "={{ $env.SLACK_CHANNEL || '#video-alerts' }}",
        "text": "",
        "blocksUi": "=:rotating_light: *Video Pipeline Failed*\n\n• Title: {{ $('2. Set Input Parameters').item.json.title }}\n• Render ID: {{ $('11. Shotstack: Render Video').item.json.response.id }}\n• Error: {{ $('12. Poll Shotstack Status').item.json.response.error || 'Unknown' }}\n\nCheck Shotstack dashboard for details.",
        "otherOptions": {}
      },
      "id": "node-notify-failure",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [3840, 520],
      "disabled": true,
      "notes": "Enable + configure Slack credentials for failure alerts"
    }
  ],

  "connections": {
    "1. Webhook Trigger": {
      "main": [
        [
          { "node": "2. Set Input Parameters", "type": "main", "index": 0 },
          { "node": "Respond Accepted", "type": "main", "index": 0 }
        ]
      ]
    },
    "2. Set Input Parameters": {
      "main": [
        [
          { "node": "3. GPT-4o: Script → Scenes", "type": "main", "index": 0 }
        ]
      ]
    },
    "3. GPT-4o: Script → Scenes": {
      "main": [
        [
          { "node": "4. Parse Scene JSON", "type": "main", "index": 0 }
        ]
      ]
    },
    "4. Parse Scene JSON": {
      "main": [
        [
          { "node": "5. ElevenLabs: Generate Voiceover", "type": "main", "index": 0 }
        ]
      ]
    },
    "5. ElevenLabs: Generate Voiceover": {
      "main": [
        [
          { "node": "6. Upload Audio (file.io)", "type": "main", "index": 0 }
        ]
      ]
    },
    "6. Upload Audio (file.io)": {
      "main": [
        [
          { "node": "7. Split Into Scenes", "type": "main", "index": 0 }
        ]
      ]
    },
    "7. Split Into Scenes": {
      "main": [
        [
          { "node": "8. DALL-E 3: Generate Image", "type": "main", "index": 0 }
        ]
      ]
    },
    "8. DALL-E 3: Generate Image": {
      "main": [
        [
          { "node": "Rate Limit Pause", "type": "main", "index": 0 }
        ]
      ]
    },
    "Rate Limit Pause": {
      "main": [
        [
          { "node": "9. Collect Image Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "9. Collect Image Data": {
      "main": [
        [
          { "node": "10. Aggregate All Scenes", "type": "main", "index": 0 }
        ]
      ]
    },
    "10. Aggregate All Scenes": {
      "main": [
        [
          { "node": "11. Shotstack: Render Video", "type": "main", "index": 0 }
        ]
      ]
    },
    "11. Shotstack: Render Video": {
      "main": [
        [
          { "node": "12. Poll Shotstack Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "12. Poll Shotstack Status": {
      "main": [
        [
          { "node": "13. Render Done?", "type": "main", "index": 0 }
        ]
      ]
    },
    "13. Render Done?": {
      "main": [
        [
          { "node": "14. Render Failed?", "type": "main", "index": 0 }
        ],
        [
          { "node": "Wait 30s (Render)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 30s (Render)": {
      "main": [
        [
          { "node": "12. Poll Shotstack Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "14. Render Failed?": {
      "main": [
        [
          { "node": "Notify Failure", "type": "main", "index": 0 }
        ],
        [
          { "node": "15. Prepare Upload Data", "type": "main", "index": 0 }
        ]
      ]
    },
    "15. Prepare Upload Data": {
      "main": [
        [
          { "node": "16. Download Rendered Video", "type": "main", "index": 0 }
        ]
      ]
    },
    "16. Download Rendered Video": {
      "main": [
        [
          { "node": "17. YouTube: Upload Video", "type": "main", "index": 0 },
          { "node": "18. Notify (Telegram)", "type": "main", "index": 0 },
          { "node": "18. Notify (Slack)", "type": "main", "index": 0 },
          { "node": "18. Notify (Email)", "type": "main", "index": 0 }
        ]
      ]
    }
  },

  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "name": "ai-video", "id": "1" },
    { "name": "cloud-native", "id": "2" },
    { "name": "no-code", "id": "3" }
  ],
  "pinData": {},
  "versionId": "2"
}
